th {
 
    color: white;

}


td {
    padding: 10px;


}
h2
{

	font-family:  sans-serif;
	font-size: 30px;
}
table{
	text-align: center;
	width: 50%;
	table-layout: fixed;

}



section
{
	text-align: center;
}

